html,
body,

.cover{
	height:100%;
}
.cover{
	background: url('../img/IMG_1171.jpg') top left no-repeat;
	background-size: cover; /* cover => covers the entire background with the image */
	display:table;
	width:100%;
}

.cover-text{
	color:white;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.cover-text h1{
	margin:0;
	font-size: 70px;
	letter-spacing: -2px;
}

.why-us h2{
	margin-left: 310px;
}

nav.navbar-inverse{
	background: rgba(0, 0, 0, 0.5);
	border:none;
	font-weight: bold;
}

.testimonial {
	background: #222;
}

blockquote {
	border:none;
	margin:0;
	font-family: Georgia,Times,serif;
	font-style: italic;
	font-size: 32px;
	color: white;
}

blockquote cite{
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 18px;
	font-weight: bold;
	color:#888;
	margin-top: 40px;
}

section{
	padding: 50px;
}

h2{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	margin:0 0 60px;
}

p{
	word-wrap: break-word;
}

#team {
	background: url('../img/IMG_0991.JPG') top left no-repeat;
	background-size: cover;
	color: white;
	text-align: center;

}

#team h2{
	color: black;
}
/* the below is sibling pattern . like this style is applied whenever p is a sibling of h2*/
h2+p{
	text-align: center;
}

footer{
	background: #222;
	color:white;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.5);
}
